body{
    background-color: rgba(81, 189, 135, 0.678);
}

h1{
    display: flex;
    justify-content: center;
    font-size: 80px;
}

.cases{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#btn{
    border-radius: 20px;
    background-color: transparent;
    border: solid 2px white;
    height: 40px;
    width: 100px;
}

label{
    margin-right: 9px;
    font-size: 20px;
    margin-top: 5px;
}

input{
    border-radius: 40px;
    border: solid 2px white;
    background-color: transparent;
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(104, 104, 104)
}